<html lang="en">

<head>
    <!--Character Set, Viewport, Stylesheet, Fonts, Scripts-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="/filter.js"></script>

    <!--Title, Description, Keywords, Author-->
    <title>Connie Huang | <%= tab %></title>
    <meta name="description" content="Portfolio website made by Connie Huang">
    <meta name="keywords" content="portfolio, website">
    <meta name="author" content="Connie Huang">
</head>
    
<body>
    <header>
        <!--Main Header Text-->
        <h1 class="header">Connie Huang</h1>
        
        <!--Navigation Menu-->
        <nav class="navContainer">
            <a href="/" class="navItem <%= active1 %>">Home</a>
            <a href="/contact" class="navItem <%= active2 %>">Contact</a>
            <a href="/about" class="navItem <%= active3 %>">About</a>
        </nav>
    </header>
    
    <main>
        <%= yield %>
    </main>
</body>
    
</html>